# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
*.egg-info/

# 데이터 파일
data/
models/

# YOLO 학습 결과 (runs/)
runs/
runs_pose/

# 모델 가중치
*.pt
*.onnx
*.engine

# Jupyter & Notebooks
.ipynb_checkpoints/
*.ipynb
notebooks/

# IDE
.idea/
.vscode/

# 환경 변수
.env
.env.*

# OS
.DS_Store
Thumbs.db

# claude code
.claude/